/* App component */
#root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  

  footer {
    padding: 1rem;
    background-color: aquamarine;
    border-top: 1px solid black;
  }
}
/* END App component */
