 /* Main component */
 main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: ghostwhite;
  position: relative; 

  section {
    flex: 0 1 auto;
    border: 1px solid black;
  }

  /* News component */
  .bignews {
    height: 100vh;
    overflow-y: auto;
    flex: 0 1 25%;
    justify-self: flex-end;
    margin-left: auto;

    form {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      max-width: 100%;
      padding-inline-start: 1.5rem;

      li {
        text-align: start;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;

        .newsarticle {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-evenly;
          padding: 0.5rem;
          margin-bottom: 1rem;

          a {
            img {
              max-width: 100%;
              height: auto;
            }
          }

          .newscontent {
            background: white;
            padding: 0.5rem;
          }
        }
      }
    }
  }
  /* END News component*/
}
/* END Main component */