#usrForm {

  input {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
    border: 1px solid lightgray;
  }

  textarea {
    width:100%;
    font-size:1.2em;
    resize: vertical;
    margin-bottom: 10px;
  }

  fieldset {
    border: 1px solid black;
    margin-bottom: 0.5rem;

    legend {
      background-color: gray;
      color: white;
      padding: 5px 10px;
    }
  
    label {
      width: 100%;
      font-size: 1.2em;
    }
    
    
  }
  
  
}

